@import "tailwindcss";

@theme {
  /* Mapping the exact hex codes from your design image */
  --color-primary: #006D77;
  /* Teal / Dark Aqua */
  --color-primary-light: #83C5BE;
  /* Light Aqua */
  --color-secondary: #E29578;
  /* Coral / Salmon */
  --color-secondary-light: #FFDDD2;
  /* Light Peach */
  --color-mint: #EDF6F9;
  /* Very Light Mint/Gray background */
  --color-navy: #023047;
  /* Deep Navy text color */

  --color-gray:#eef2f5;
  --color-gray-secondary:#7c7f89;

  /* Registering your Poppins Font */
  --font-poppins: "Poppins", sans-serif;
}